# Fichiers d'environnement et de configuration
.env

# Dépendances Node.js
node_modules/

# Dossier de données utilisateur de Puppeteer (contient cookies, cache...)
puppeteer_user_data/

# Fichiers de log et temporaires
*.log
npm-debug.log*
.DS_Store # Pour macOS
Thumbs.db # Pour Windows